
<div class="row">
    {% for product in products %}

        <div class="col-4" style="border: 1px solid black;">
            <div class="card text-start">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">{{ product.product_name }}</h4>
                    <h4 class="card-title">{{ product.price }}</h4>
                    <h4 class="card-title">{{ product.brand.name }}</h4>
                    <a href="{% url 'product_details' product.id %}" class="btn btn-success">Details</a>
                </div>
            </div>      
        </div>
        
        {% endfor %}
    </div>
